
    


body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    color: #333;
  }
  
  header p {
    margin-top: 5px;
    color: #666;
  }


  .skills-section ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   
  }
  
  .skills-section li {
    margin-right: 10px;
    background-color: #eee;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .contact-section {
    margin-top: 40px;
  }
  
  button.contact-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
 
  